.main {
  font-size: 20px;
  display: flex;
  padding: 30px;
  background-color: black;
  color: white;
}
.items {
  flex: 10;
}
.icons {
  flex: 1;
}
.items .nav-items {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.fa-heart {
  padding-right: 20px;
}

.nav-items:hover {
  background-color: grey;
}
.fa-heart:hover {
  color: red;
}
.icons .fa-shopping-cart:hover {
  color: blue;
}
.fa-heart , .fa-shopping-cart{
  color: white;
}
