@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
   font-family: 'Edu NSW ACT Foundation', cursive; 
   font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
h1{
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
